doctype 5
html(lang="en")
    head
        include includes/header
        link(rel="stylesheet", href="css/compact.css")
        script.
            compact = true
    body
        include includes/body
