doctype 5
html(lang="en")
    head
        include includes/header
        link(rel="stylesheet", href="css/full.css")
        script.
            compact = false
    body
        include includes/body
