rotate(a)
    -webkit-transform s("rotate(%s)", a)
    -moz-transform s("rotate(%s)", a)
    -o-transform s("rotate(%s)", a)
    transform s("rotate(%s)", a)


#castle
    background-image url(../img/castle.jpg)
    background-size cover

#scroll
    background-image url(../img/scroll.svg)
    background-size cover

#copyright
    position absolute
    left -4.9%
    top 51%
    width 18%
    height 5%
    rotate 270deg
    font-family "ConsoleFont"

    a
        color black
        text-decoration none

#header
    top -2%

#links
    top 0%

.bracket
    position absolute
    bottom 9%
    width 2%
    height 15%
    color #77542f
    font-family "ConsoleFont"

#left
    left -1.5%

#right
    right -1.7%

.arrow
    position absolute
    top 22.5%
    width 2%
    height 25%
    cursor pointer
    background-image url(../img/arrow.png)
    background-size cover

#show_left
    left -2.25%

#show_right
    left 100.25%
    rotate 180deg

#content
    width 75%
    height 60%

#map
    height 25%

#console
    top 48%

.text
    top 15%
