title Lone lord
meta(charset="utf-8")
link(rel="shortcut icon", href="img/favicon.ico")
link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Orbitron:400,700")
link(rel="stylesheet", href="css/lonelord.css")
script(src="js/zepto.min.js")
script(src="js/engine.io.js")
script(src="js/jsonlite.min.js")
script(src="js/lonelord.min.js")
